.container {
  display: grid;
  /* grid-template-columns: repeat(11, [col-start] 1fr) 200px; */
  grid-template-columns: 100vw;
  grid-template-rows: 56px minmax(0, 1fr);
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
}

.header {
  grid-column: 1;
  z-index: 999;
  /* display: inline; */
}

.header img, .header svg {
  display: inline;
}

.pageGrid {
  display: grid;
  /* grid-template-columns: repeat(11, [col-start] 1fr) 200px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.one {
  min-height: 60vh;
}

.two {
  padding: 5px 15px;
}

#regionSummaryName {
  scroll-margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  .one {
    grid-column: span 2;
  }
  .two {
    grid-column: span 1;
    overflow: scroll;
  }

  #regionSummaryName {
    scroll-margin-top: 0px;
  }
}

.full {
  grid-column: span 10;
  overflow: scroll;
}
